# Copy this file and name it .env and replace DB_URL with your mongo string. 
# NOTE This fake account phorton is the username followed by 1234 for the password.
NODE_ENV=development
DB_URL=mongodb+srv://phorton:1234@cluster0-0vx31.mongodb.net/test?retryWrites=true&w=majority
